@tailwind base;
@tailwind components;
@tailwind utilities;

/* change selection color */
::selection {
  color: white;
  background: black;
}
::-moz-selection {
  color: white;
  background: black;
}

@layer base {
  /* use same font for all headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Cal Sans';
  }
}
